<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo das Dimensoes do Terreno</title>
</head>
<body>
    <a href="/principal">Principal</a>

    <p>Calculo das Dinmensoes de um Terreno</p>

    <form action="/calculoterreno" method="POST" >
        Largura:<input type="text" name="largura" required><br>
        Comprimento: <input type="text" name="comprimento" required><br>
        <input type="submit"  value="Calcular">
    </form>
</body>
</html>